{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>Nome: Saleh Khalil       RA: 1701924<br>
Nome: Gabriel Dutra da Silva  RA: 1800516<br>
Nome: Renan Mello Medeiros    RA: 1800584<br>
Nome: Eduardo Almeida         RA: 1800270<br>
Nome: Pablo Felipe            RA: 1800149<br>
Nome: Mateus Abreu            RA: 1801273</h3>

<address>
    Empresa Software Soluções<br />
    Rua do Código, 1717<br />
    <abbr title="Telefone">Tel:</abbr>
    91010-1010
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@example.com">Suporte@ess.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@ess.com</a>
</address>

{% endblock %}
